# Semana 16: 📦 Recopilación y Almacenamiento de Datos (SQL)

# ⚠️ Información:
Vamos a trabajar usando el siguiente [link](https://www.programiz.com/sql/online-compiler) para efectos practicos y academicos sobre la manipulación de datos con SQL

## 🧰 SQL como Herramienta para Trabajar con Datos
SQL es el lenguaje universal para interactuar con bases de datos. Nos permite:
- Consultar datos
- Filtrar información relevante
- Combinar tablas
- rear nuevos conjuntos de datos derivados

### 🗄 Bases de Datos y Tablas
Una base de datos contiene múltiples tablas. Cada tabla tiene filas (registros) y columnas (campos).
```sql
CREATE TABLE customer(
first_name VARCHAR(30) NOT NULL,
last_name VARCHAR(30) NOT NULL,
email VARCHAR(60) NOT NULL,
company VARCHAR(60) NULL,
street VARCHAR(50) NOT NULL,
city VARCHAR(40) NOT NULL,
state CHAR(2) NOT NULL DEFAULT 'PA',
zip SMALLINT NOT NULL,
phone VARCHAR(20) NOT NULL,
birth_date DATE NULL,
sex CHAR(1) NOT NULL,
date_entered TIMESTAMP NOT NULL,
id SERIAL PRIMARY KEY
);
```

### 📋 instrucciones básicas de SQL

| Comando SQL      | Descripción                                               |
|------------------|----------------------------------------------------------|
| `CREATE TABLE`   | Crea una nueva tabla en la base de datos.                |
| `INSERT INTO`    | Inserta registros (filas) en una tabla.                   |
| `SELECT`         | Recupera datos de una tabla.                             |
| `WHERE`          | Filtra los resultados según una condición.                |
| `ORDER BY`       | Ordena los resultados según una o más columnas.           |
| `LIMIT`          | Limita el número de resultados devueltos.                 |
| `OFFSET`         | Omite un número de filas al mostrar resultados.           |
| `UPDATE`         | Modifica los datos existentes en una tabla.               |
| `DELETE`         | Elimina registros de una tabla.                          |
| `GROUP BY`       | Agrupa filas que tienen valores iguales en columnas.     |
| `HAVING`         | Filtra resultados después de un `GROUP BY`.               |
| `JOIN`           | Combina filas de dos o más tablas relacionadas.          |
| `INNER JOIN`     | Devuelve filas que tienen coincidencias en ambas tablas. |
| `LEFT JOIN`      | Devuelve todas las filas de la tabla izquierda.          |
| `RIGHT JOIN`     | Devuelve todas las filas de la tabla derecha.            |
| `AS`             | Renombra una columna o tabla temporalmente.              |
| `COUNT()`        | Cuenta el número de filas.                               |
| `AVG()`          | Calcula el promedio de una columna numérica.             |
| `SUM()`          | Suma todos los valores de una columna numérica.          |
| `MAX()` / `MIN()`| Devuelve el valor máximo o mínimo de una columna.        |
| `DISTINCT`       | Elimina duplicados de los resultados.                    |
| `CAST()`         | Convierte el tipo de dato de una columna.                |
| `ROUND()`        | Redondea un número a una cantidad específica de decimales. |

### 📋 Tipos de Datos en SQL

#### 📌 Tipos de Texto

| Tipo         | Descripción                                     |
|--------------|-------------------------------------------------|
| `CHAR(n)`    | Almacena hasta **n** caracteres (espacios incluidos). Ideal para textos de longitud fija. |
| `VARCHAR(n)` | Almacena hasta **n** caracteres. Recomendado para textos de longitud variable.            |
| `VARCHAR`    | Almacena texto de cualquier longitud (según configuración del sistema).                   |
| `TEXT`       | Almacena texto de cualquier longitud. Utilizado para textos largos.                      |

---

#### 📌 Tipos Numéricos - SERIAL (Autoincrementales)

| Tipo         | Rango                                         | Uso típico                  |
|--------------|-----------------------------------------------|-----------------------------|
| `SMALLSERIAL`| 1 a 32,767                                    | Claves primarias pequeñas.  |
| `SERIAL`     | 1 a 2,147,483,647                             | IDs estándar.               |
| `BIGSERIAL`  | 1 a 9,223,372,036,854,775,807                 | IDs muy grandes.            |

---

#### 📌 Tipos Numéricos - INTEGER

| Tipo       | Rango                                           | Uso típico                                |
|------------|-------------------------------------------------|-------------------------------------------|
| `SMALLINT` | -32,768 a 32,767                                | Números pequeños, códigos, cantidades pequeñas. |
| `INTEGER`  | -2,147,483,648 a 2,147,483,647                  | Números enteros generales.                |
| `BIGINT`   | -9,223,372,036,854,775,808 a 9,223,372,036,854,775,807 | Grandes cantidades, finanzas, etc.      |

---

#### 📌 Tipos Numéricos - DECIMALES / FLOTANTES

| Tipo              | Precisión / Rango                                | Descripción                                           |
|-------------------|-------------------------------------------------|------------------------------------------------------|
| `DECIMAL`         | Hasta 131,072 dígitos enteros y 16,383 decimales | Alta precisión para cálculos financieros.            |
| `NUMERIC`         | Igual que `DECIMAL`                              | Sinónimo en la mayoría de los sistemas.              |
| `REAL`            | 1E-37 a 1E37 (6 posiciones decimales aprox.)     | Precisión moderada.                                  |
| `DOUBLE PRECISION`| 1E-307 a 1E308 (15 posiciones decimales aprox.)  | Para valores grandes o rangos amplios.               |
| `FLOAT`           | Igual que `DOUBLE PRECISION`                     | Usado cuando la precisión no es crítica.             |

---

#### 📌 Tipo BOOLEAN (Lógico)

| Valor Verdadero  | Valor Falso    | Valor Nulo   |
|------------------|----------------|--------------|
| `TRUE`           | `FALSE`        | `NULL`       |
| `1`, `t`, `y`, `yes`, `on` | `0`, `f`, `n`, `no`, `off` | Representa valor desconocido o no definido. |

## ⚒️ Funciones avanzadas de SQL para analistas

### 📊 Agrupar Datos

```sql
SELECT departamento, COUNT(*) FROM empleados GROUP BY departamento;
```

### 📈 Ordenar Datos

```sql
SELECT * FROM empleados ORDER BY salario DESC;
```

### ⚙️ Procesar Datos Dentro de una Agrupación

```sql
SELECT departamento, AVG(salario) FROM empleados GROUP BY departamento;
```

### 📅 Operadores y Funciones para Fechas

```sql
SELECT DATE('now'), DATETIME('now', '-1 day');
```

### 🔎 Subconsultas

```sql
SELECT * FROM empleados WHERE salario > (SELECT AVG(salario) FROM empleados);
```

### 🪟 Funciones de Ventana

```sql
SELECT nombre, departamento, salario,
       AVG(salario) OVER (PARTITION BY departamento) as salario_promedio
FROM empleados;
```

## 📈🖇️📉 Relaciones entre Tablas

### 📊 Diagramas ER

![image](Ejemplos/Image_2.png)

### 📁 Crear Varias Tablas

```sql
CREATE TABLE departamentos (
    id INTEGER PRIMARY KEY,
    nombre TEXT
);
```

### 🔍 Buscar Valores Vacíos

```sql
SELECT * FROM empleados WHERE departamento IS NULL;
```