# Semana 16: ğŸ“¦ RecopilaciÃ³n y Almacenamiento de Datos (SQL)

# âš ï¸ InformaciÃ³n:
Vamos a trabajar usando el siguiente [link](https://www.programiz.com/sql/online-compiler) para efectos practicos y academicos sobre la manipulaciÃ³n de datos con SQL

## ğŸ§° SQL como Herramienta para Trabajar con Datos
SQL es el lenguaje universal para interactuar con bases de datos. Nos permite:
- Consultar datos
- Filtrar informaciÃ³n relevante
- Combinar tablas
- rear nuevos conjuntos de datos derivados

### ğŸ—„ Bases de Datos y Tablas
Una base de datos contiene mÃºltiples tablas. Cada tabla tiene filas (registros) y columnas (campos).
```sql
CREATE TABLE customer(
first_name VARCHAR(30) NOT NULL,
last_name VARCHAR(30) NOT NULL,
email VARCHAR(60) NOT NULL,
company VARCHAR(60) NULL,
street VARCHAR(50) NOT NULL,
city VARCHAR(40) NOT NULL,
state CHAR(2) NOT NULL DEFAULT 'PA',
zip SMALLINT NOT NULL,
phone VARCHAR(20) NOT NULL,
birth_date DATE NULL,
sex CHAR(1) NOT NULL,
date_entered TIMESTAMP NOT NULL,
id SERIAL PRIMARY KEY
);
```

### ğŸ“‹ instrucciones bÃ¡sicas de SQL

| Comando SQL      | DescripciÃ³n                                               |
|------------------|----------------------------------------------------------|
| `CREATE TABLE`   | Crea una nueva tabla en la base de datos.                |
| `INSERT INTO`    | Inserta registros (filas) en una tabla.                   |
| `SELECT`         | Recupera datos de una tabla.                             |
| `WHERE`          | Filtra los resultados segÃºn una condiciÃ³n.                |
| `ORDER BY`       | Ordena los resultados segÃºn una o mÃ¡s columnas.           |
| `LIMIT`          | Limita el nÃºmero de resultados devueltos.                 |
| `OFFSET`         | Omite un nÃºmero de filas al mostrar resultados.           |
| `UPDATE`         | Modifica los datos existentes en una tabla.               |
| `DELETE`         | Elimina registros de una tabla.                          |
| `GROUP BY`       | Agrupa filas que tienen valores iguales en columnas.     |
| `HAVING`         | Filtra resultados despuÃ©s de un `GROUP BY`.               |
| `JOIN`           | Combina filas de dos o mÃ¡s tablas relacionadas.          |
| `INNER JOIN`     | Devuelve filas que tienen coincidencias en ambas tablas. |
| `LEFT JOIN`      | Devuelve todas las filas de la tabla izquierda.          |
| `RIGHT JOIN`     | Devuelve todas las filas de la tabla derecha.            |
| `AS`             | Renombra una columna o tabla temporalmente.              |
| `COUNT()`        | Cuenta el nÃºmero de filas.                               |
| `AVG()`          | Calcula el promedio de una columna numÃ©rica.             |
| `SUM()`          | Suma todos los valores de una columna numÃ©rica.          |
| `MAX()` / `MIN()`| Devuelve el valor mÃ¡ximo o mÃ­nimo de una columna.        |
| `DISTINCT`       | Elimina duplicados de los resultados.                    |
| `CAST()`         | Convierte el tipo de dato de una columna.                |
| `ROUND()`        | Redondea un nÃºmero a una cantidad especÃ­fica de decimales. |

### ğŸ“‹ Tipos de Datos en SQL

#### ğŸ“Œ Tipos de Texto

| Tipo         | DescripciÃ³n                                     |
|--------------|-------------------------------------------------|
| `CHAR(n)`    | Almacena hasta **n** caracteres (espacios incluidos). Ideal para textos de longitud fija. |
| `VARCHAR(n)` | Almacena hasta **n** caracteres. Recomendado para textos de longitud variable.            |
| `VARCHAR`    | Almacena texto de cualquier longitud (segÃºn configuraciÃ³n del sistema).                   |
| `TEXT`       | Almacena texto de cualquier longitud. Utilizado para textos largos.                      |

---

#### ğŸ“Œ Tipos NumÃ©ricos - SERIAL (Autoincrementales)

| Tipo         | Rango                                         | Uso tÃ­pico                  |
|--------------|-----------------------------------------------|-----------------------------|
| `SMALLSERIAL`| 1 a 32,767                                    | Claves primarias pequeÃ±as.  |
| `SERIAL`     | 1 a 2,147,483,647                             | IDs estÃ¡ndar.               |
| `BIGSERIAL`  | 1 a 9,223,372,036,854,775,807                 | IDs muy grandes.            |

---

#### ğŸ“Œ Tipos NumÃ©ricos - INTEGER

| Tipo       | Rango                                           | Uso tÃ­pico                                |
|------------|-------------------------------------------------|-------------------------------------------|
| `SMALLINT` | -32,768 a 32,767                                | NÃºmeros pequeÃ±os, cÃ³digos, cantidades pequeÃ±as. |
| `INTEGER`  | -2,147,483,648 a 2,147,483,647                  | NÃºmeros enteros generales.                |
| `BIGINT`   | -9,223,372,036,854,775,808 a 9,223,372,036,854,775,807 | Grandes cantidades, finanzas, etc.      |

---

#### ğŸ“Œ Tipos NumÃ©ricos - DECIMALES / FLOTANTES

| Tipo              | PrecisiÃ³n / Rango                                | DescripciÃ³n                                           |
|-------------------|-------------------------------------------------|------------------------------------------------------|
| `DECIMAL`         | Hasta 131,072 dÃ­gitos enteros y 16,383 decimales | Alta precisiÃ³n para cÃ¡lculos financieros.            |
| `NUMERIC`         | Igual que `DECIMAL`                              | SinÃ³nimo en la mayorÃ­a de los sistemas.              |
| `REAL`            | 1E-37 a 1E37 (6 posiciones decimales aprox.)     | PrecisiÃ³n moderada.                                  |
| `DOUBLE PRECISION`| 1E-307 a 1E308 (15 posiciones decimales aprox.)  | Para valores grandes o rangos amplios.               |
| `FLOAT`           | Igual que `DOUBLE PRECISION`                     | Usado cuando la precisiÃ³n no es crÃ­tica.             |

---

#### ğŸ“Œ Tipo BOOLEAN (LÃ³gico)

| Valor Verdadero  | Valor Falso    | Valor Nulo   |
|------------------|----------------|--------------|
| `TRUE`           | `FALSE`        | `NULL`       |
| `1`, `t`, `y`, `yes`, `on` | `0`, `f`, `n`, `no`, `off` | Representa valor desconocido o no definido. |

## âš’ï¸ Funciones avanzadas de SQL para analistas

### ğŸ“Š Agrupar Datos

```sql
SELECT departamento, COUNT(*) FROM empleados GROUP BY departamento;
```

### ğŸ“ˆ Ordenar Datos

```sql
SELECT * FROM empleados ORDER BY salario DESC;
```

### âš™ï¸ Procesar Datos Dentro de una AgrupaciÃ³n

```sql
SELECT departamento, AVG(salario) FROM empleados GROUP BY departamento;
```

### ğŸ“… Operadores y Funciones para Fechas

```sql
SELECT DATE('now'), DATETIME('now', '-1 day');
```

### ğŸ” Subconsultas

```sql
SELECT * FROM empleados WHERE salario > (SELECT AVG(salario) FROM empleados);
```

### ğŸªŸ Funciones de Ventana

```sql
SELECT nombre, departamento, salario,
       AVG(salario) OVER (PARTITION BY departamento) as salario_promedio
FROM empleados;
```

## ğŸ“ˆğŸ–‡ï¸ğŸ“‰ Relaciones entre Tablas

### ğŸ“Š Diagramas ER

![image](Ejemplos/Image_2.png)

### ğŸ“ Crear Varias Tablas

```sql
CREATE TABLE departamentos (
    id INTEGER PRIMARY KEY,
    nombre TEXT
);
```

### ğŸ” Buscar Valores VacÃ­os

```sql
SELECT * FROM empleados WHERE departamento IS NULL;
```